<div class='flex bg-black px-10 py-4'>
  <div class='flex-1'>
    <%= link_to 'Mexico City Working Cafes', root_path, class: 'font-serif font-bold text-2xl mr-8' %>
  </div>

  <div class='links flex items-center'>
    
  </div>
</div>